@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card{
        @apply lg:m-0 lg:mr-4 lg:ml-4;
    }
    .btn-principal {
        @apply bg-pink hover:bg-btn-hover text-white p-10px pr-13px pl-13px rounded shadow text-lg;
    }
    .header {
        @apply flex justify-between lg:justify-around pt-5 pb-5 pr-2 pl-2;
    }
    .footer-link {
        @apply text-lg text-like font-semibold;
    }
    h2 {
        @apply text-34px leading-h2;
    }
    html {
        @apply font-Blinker w-screen;
    }
    main {
        @apply p-2 pb-32 md:p-4;
    }
    body {
        @apply bg-black-c;
    }
    .line {
        @apply bg-line bg-no-repeat bg-center pt-11px pb-11px;
    }
    .midline {
        @apply bg-mid-line bg-no-repeat bg-bottom pb-13px;
    }
    input,
    textarea {
        @apply text-white bg-input-black caret-pink shadow-input rounded p-2 pt-14px pb-14px;
    }
}

@layer base {
    @font-face {
        font-family: 'Blinker';
        font-weight: 200;
        src: url(./public/fonts/Blinker-ExtraLight.ttf) format('ttf');
    }
    @font-face {
        font-family: 'Blinker';
        font-weight: 400;
        src: url(./public/fonts/Blinker-Regular.ttf) format('ttf');
    }
    @font-face {
        font-family: 'Blinker';
        font-weight: 600;
        src: url(./public/fonts/Blinker-Bold.ttf) format('ttf');
    }
    @font-face {
        font-family: 'Blinker';
        font-weight: 700;
        src: url(./public/fonts/Blinker-ExtraBold.ttf) format('ttf');
    }
}
